<mat-toolbar>
    <span>CADASTRO</span>    
  </mat-toolbar>

  
  
  <form class="example-form" [formGroup]="cadastroform">
    <div class="wrapped">   
     
     <app-input-text titulo="Name *" controlName="name" [formGroup]="cadastroform"></app-input-text>
     <app-input-date titulo="Date *" controlName="date" [formGroup]="cadastroform"></app-input-date>

        
     <app-input-text titulo="Hora de inicio *" controlName="startHour" [formGroup]="cadastroform"></app-input-text>
     <app-input-text titulo="Hora de termino *" controlName="endHour" [formGroup]="cadastroform"></app-input-text>
     <app-input-text titulo="Resposavel *" controlName="responsible" [formGroup]="cadastroform"></app-input-text>
     
     
   </div>

  </form>

  <div mat-dialog-actions>
    <div class="horizontal">
      <span class="button"><button mat-raised-button color="primary" (click)="cancel()">Cancelar</button></span>
      <span class="button"><button mat-raised-button color="accent" (click)="save()">Salvar</button></span>
  </div>
   
  </div>